.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px; /* Space between cards */
}

.card {
  background-color: #686868;
  /* #e3e3e3 */
  border: 3px solid;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  border-color: grey;
}

/* highlights the card when hovering over  */
.card:hover {
  box-shadow: 0 8px 16px rgba(237, 6, 6, 0.2);
  background-color: #703b3f; /* A light red background color */
}

.card-body {
  padding: 15px;
}

.card-title {
  margin-bottom: 15px;
  color: #000000;
  font-size: 1.25rem;
}

.card-text {
  color: white;
  margin-bottom: 10px; /* Space between text elements */
  line-height: 1.6;
  font-size: 1rem;
}

/* Optionally, you might want to add some top margin to the first element after the header */
.container > p:first-child {
  margin-top: 20px;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.appointment-subheading-text {
  font-size: 25px;
  margin-bottom: 15px;
}

/* button styling   */
.button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition:
    background-color 0.2s,
    transform 0.1s,
    box-shadow 0.2s;
  margin-right: 5px; /* Space between buttons */
}

.update-btn {
  background-color: #007bff;
  color: white;
}

.update-btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.delete-btn:hover {
  background-color: #bd2130;
  transform: translateY(-2px);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
}

/* searchBar styling */
.search-container {
  margin-bottom: 20px; /* Adjust as needed */
}

.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
