.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Makes sure it's above other content */
}

.modal-content {
  background-color: var(--color-dark--2);
  /* padding: 2rem; */
  /* border-radius: 5px; */
  position: relative; /* So the close button can be positioned absolutely within */
  z-index: 1001; /* Above the overlay */
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: var(--color-dark--2);
}

.modal-content svg {
  width: 2.8rem;
  height: 2.8rem;
  background-color: var(--color-dark--2);
  color: var(--color-light--1);
  cursor: pointer;
}

.modal-content svg:hover {
  color: var(--color-light--3);
}
