.container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.patientNav {
  display: flex;
  gap: 2.4rem;
}

.tableContainer {
  overflow: hidden;
  border: 1px solid #343a40;
  border-radius: 0.9rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
}

/* For forms */
/* .login {
  margin: 0;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: 100vh;
  position: relative;
} */

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 3rem 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 64rem;
  margin: 0rem auto;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row input {
  border-radius: 5px;
}
