.container {
  display: grid;
  font-size: 1.4rem;
  grid-template-columns: 0.5fr 2fr 1fr 1fr;
  column-gap: 2.4rem;
  align-items: center;
  border-bottom: 1px solid #343a40;
  background-color: var(--color-dark--1);
  text-transform: uppercase;
  padding: 1.6rem 2.4rem;
  cursor: pointer;
}
