.container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.header {
  display: flex;

  align-items: center;
  gap: 2.4rem;
}

.header h2 {
  flex-grow: 1;
  font-size: 2.4rem;
}

.infoContainer {
  padding: 1rem 0;
  font-size: 1.6rem;
  border-top: solid 2px var(--color-brand--2);
  border-bottom: solid 2px var(--color-brand--2);
}

.container h3 {
  font-size: 2rem;
}

.visitContainer {
  display: flex;
  align-items: center;
}
.visitContainer h3 {
  flex-grow: 1;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.summary p {
  font-size: 1.4rem;
}

.row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-family: "Playfair Display", serif;
}

.row p:first-child {
  width: 15rem;
}

.visit {
  margin-bottom: solid 2px white;
}
