.container {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 20px;
}
.content-wrapper {
  gap: 40px;
  flex-direction: column;
}
h2 {
  font-size: 2.4rem;
  margin-bottom: 30px;
}

.calendar-flex-container {
  display: flex;
  align-items: center; /* This will vertically center the calendar */
  justify-content: flex-start; /* This will align the calendar to the left */
  height: 100%; /* Set the height to the height of the parent container */
}

.layoutContainer {
  display: flex;
  justify-content: space-between; /*  space between the calendar and the form */
  align-items: stretch; /* align items to the start of the container */
  gap: 20px; /* This provides space between the calendar and form */
}

.formContainer {
  min-height: 200px; /* Adjust the min-height to what you need */
  display: flex;
  flex-direction: column;
}
.calendar-container {
  margin-top: auto;
  margin-bottom: auto;
}

/* FORM style*/
.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 3rem 4rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 64rem;
  margin: 0rem auto;
}

.row {
  display: flex;

  gap: 0.5rem;
  align-items: center;
}

.title {
  justify-content: center;
}

.row input {
  border-radius: 5px;
}

.row label {
  width: 20rem;
}

.row span {
  font-size: 2.2rem;
  padding: 0 2rem;
  font-weight: 600;
  border-bottom: 5px solid var(--color-brand--2);
}

.appointment-display-container {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
}
.appointments-sidebar {
  width: 350px;
  margin-top: 10px;
  background: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.appointment-card {
  background: #ffffff;
  margin: 10px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.appointment-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.appointment-card p {
  margin: 0;
  margin-bottom: 8px;
  color: #333;
  font-size: 16px;
  line-height: 1.4;
}

/* This last-child selector removes the bottom margin from the last <p> element in the card */
.appointment-card p:last-child {
  margin-bottom: 0;
}

.general-text {
  font-size: 15px;
  margin-bottom: 30px;
}
.welcome-text {
  margin-bottom: 30px;
}
