.sidebar {
  background-color: var(--color-dark--1);
  padding: 3.2rem 2.4rem;
  border-right: 1px solid #343a40;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.sidebar-link {
  display: block;
  padding: 10px;
  color: #333; /* Adjust link color as needed */
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: #ddd; /* Adjust hover color as needed */
}

.sidebar p {
  font-size: 2.4rem;
}

.logotitle {
  align-self: center;
}

.signOut {
  margin-top: auto;
}
